
@{
    ViewBag.Title = "Index";

}
<hr />
<h4>Contenu de la page d'accueil</h4>
<p>
    <a class="btn btn-primary" href="/OPMSAdmin/HomeContents/Create">Créer un nouveau contenu</a>
</p>
<hr />
<table id="dataTable" class="table table-bordered table-hover table-responsive table-striped">
    <thead class="bg-primary">
        <tr>
            <th><i class="glyphicon glyphicon-align-center"></i> Title</th>
            <th><i class="glyphicon glyphicon-link"></i> SubTitle</th>
            <th><i class="glyphicon glyphicon-link"></i> Button Text</th>
            <th><i class="glyphicon glyphicon-link"></i> Button Url</th>
            <th><i class="glyphicon glyphicon-link"></i> Image Url</th>
            <th><i class="glyphicon glyphicon-wrench"></i> Actions</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script>
    $(document).ready(function () {
        $("#dataTable").DataTable({
            "info": false,
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "dom": "lfrtiBp",
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "ajax": {
                "url": "/OPMSAdmin/HomeContents/GetHomeContet",
                "type": "Get",
                "dataType": "json"
            },
            "columns": [
                { "data": "Title" },
                { "data": "SubTitle" },
                { "data": "ButtonText" },
                { "data": "ButtonUrl" },
                { "data": "ImageUrl" },
                {
                    "data": "actions",
                    "render": function (data, type, row, meta) {
                        data = '<a class="btn btn-primary btn-bg" href="/OPMSAdmin/HomeContents/Edit/' + row.Id + '"><i class="glyphicon glyphicon-edit"></i> Modifier</a> | <a class="btn btn-danger btn-bg" href="/OPMSAdmin/HomeContents/Delete/' + row.Id + '"><i class="glyphicon glyphicon-trash"></i> Supprimer</a> <a class="btn btn-default btn-bg" href="/OPMSAdmin/HomeContents/Details/' + row.Id + '"><i class="glyphicon glyphicon-info-sign"></i> Détails</a>';
                        //  data = '<a class="btn btn-info btn-sm" href="/Users/Edit/' + row.Id + '">Edit</a> | <button class="btn btn-danger btn-sm" onclick="return Delete(' + row.Id + ')">DeletePage</button>';
                        return data;
                    }
                },


            ]
        })
    });
    </script>
}




