
@{
    /**/

    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
@if (TempData["Message"] != null)
{


    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Message sent successfully</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="card card-cascade  mx-3 px-3 z-depth-0 ">

                                <!-- Card image -->
                                <div class="view view-cascade z-depth-0 px-1 mx-5">
                                    <img class="card-img-top" src="~/Content/Img/ThanksContact.svg" alt="Card image cap">

                                </div>

                                <!-- Card content -->
                                <div class="card-body card-body-cascade text-center pb-0">
                                    <hr />

                                    <h6 class="text-primary">Thank You : @TempData["Message"] for contacting us</h6>
                                    <!-- Text -->
                                    <!-- Linkedin -->


                                </div>

                            </div>



                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
}


@section scripts{
    <script>

        $(function () {
            $('#basicExampleModal').modal('show');
        });

    </script>
}
@section ContactCustomCSS{

    <link href="~/Content/ContactCustomCSS.css" rel="stylesheet" />

}

