@model IEnumerable<OPMS.ViewModels.SiteSettingsViewModel>

@{
    ViewBag.Title = "Index";
}
<hr />
<h4>Liste des paramètres du site</h4>
<p>
    <a class="btn btn-primary" href="/OPMSAdmin/SiteSettings/Create">Créer un paramètre de site</a>
</p>
<hr />
<table id="dataTable" class="table table-bordered table-hover table-responsive table-striped">
    <thead class="bg-primary">
        <tr>
            <th><i class="glyphicon glyphicon-align-left"></i> Site Name</th>
            <th><i class="glyphicon glyphicon-align-left"></i> Site Owner</th>
            <th><i class="glyphicon glyphicon-align-left"></i> Site Last Update By</th>
            <th><i class="glyphicon glyphicon-align-left"></i> Site Footer</th>
            <th><i class="glyphicon glyphicon-wrench"></i> Actions</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
               info: false,
                lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, 'All']],
                dom: 'lfrtiBp',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                ajax: {
                    url: '/OPMSAdmin/SiteSettings/GetSiteSettingData',
                    type: 'Get',
                    dataType: 'json'
                    },
                columns: [

                    { data: 'SiteName' },
                    { data: 'SiteOwner' },
                    { data: 'UpdateBy' },
                    { data: 'SiteFooter' },


                    {
                        data: 'actions',
                        render: function (data, type, row, meta) {
                            data = '<a class="btn btn-primary btn-bg" href="/OPMSAdmin/SiteSettings/Edit/' + row.Id + '"><i class="glyphicon glyphicon-edit"></i> Éditer</a> | <a class="btn btn-danger btn-bg" href="/OPMSAdmin/SiteSettings/Delete/' + row.Id + '"><i class="glyphicon glyphicon-trash"></i> Supprimer</a> |<a class="btn btn-default btn-bg" href="/OPMSAdmin/SiteSettings/Details/' + row.Id + '"><i class="glyphicon glyphicon-info-sign"></i> Détails</a>';
                            //  data = '<a class="btn btn-info btn-sm" href="/Users/Edit/' + row.Id + '">Edit</a> | <button class="btn btn-danger btn-sm" onclick="return Delete(' + row.Id + ')">DeletePage</button>';
                            return data;
                        }
                    },
                ],
            })
        });
    </script>
    }
