@if (Request.IsAuthenticated)
{
    if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("LogOut", "Accounts", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item ml-auto "><a class="nav-link ml-auto " href="javascript:document.getElementById('logoutForm').submit();"> Bonjour,  @User.Identity.Name | <span class="btn btn-danger btn-rounded btn-sm"> Logout <i class="fas fa-lock"></i> </span></a></li>
            </ul>
        }
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Accounts", new { Area = "" },null)</li>*@
        <li>@Html.ActionLink("LogIn", "Login", "Accounts", new { Area = "" },null)</li>
    </ul>
}