@model List<OPMS.ViewModels.AdminstratorPanelVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/OPMSAdmin/Views/Shared/_AdminLayout.cshtml";
}
@{
    if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {


        if (Request.IsAuthenticated)
        {

            foreach (var item in Model)
            {


                <div class="jumbotron text-center">

                    <h3> Bonjour, @User.Identity.Name <br /> Your in the Dashboard Area </h3>
                
                   
                    <br />
                    <h4>@item.Title</h4>
                    <h5> @item.SubContent</h5>
                    <p>@Html.Raw(item.Content)</p>

                </div>




            }
        }
    }
}
@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}