
@{
    ViewBag.Title = "PageNotFound";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";

}
<br />
<div class="jumbotron">
    <h5 class="">This page isn't available. Sorry about that</h5>
  
    <img src="~/Content/Img/undraw_page_not_found_su7k.svg" class="img-responsive" id="Login" />
 <hr />
    <a href="/Home" class="btn btn-primary">Take me back</a>

</div>

@section CustomCss{

    <link href="~/Content/CustomPostCSS.css" rel="stylesheet" />

}