
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<br />
<div class="jumbotron">
    <h5 class="">Unauthorized</h5>

    <img src="~/Content/Img/undraw_page_not_found_su7k.svg" class="img-responsive" id="Login" />
    <hr />
    <a href="/Home" class="btn btn-primary">Take me back</a>

</div>

@section ErrorCustomCSS{

    <link href="~/Content/ErrorCustom.css" rel="stylesheet" />

}

