

@{
    ViewBag.Title = "Users";
}
<hr />
<h4>Liste du résident</h4>

<a class="btn btn-primary" href="/OPMSAdmin/AdminUser/Create">Créer un nouvel utilisateur pour le résident</a>
<hr />

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table id="dataTable" class="table table-bordered table-hover table-responsive table-striped">
                <thead class="btn-primary">
                    <tr>
                        <th><i class="glyphicon glyphicon-user"></i> User Name</th>
                        <th><i class="glyphicon glyphicon-envelope"></i> Email</th>
                        <th><i class="glyphicon glyphicon-phone"></i> Phone Number</th>
                        <th><i class="glyphicon glyphicon-wrench"></i> actions</th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                info: false,
                responsive: true,
                lengthMenu: [[5,10, 25, 50, -1], [5,10, 25, 50, 'All']],
                dom: 'lfrtiBp',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="glyphicon glyphicon-file"> Copy</i>',
                        titleAttr: 'Copy',


                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> Excel</i>',
                        titleAttr: 'Excel',


                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> PDF</i>',
                        titleAttr: 'PDF',


                    },

                    {
                        extend: 'print',
                        text: '<i class="glyphicon glyphicon-print"> Print</i>',
                        titleAttr: 'PRINT',


                    },
                    {
                        extend: 'colvis',
                        text: '<i class="glyphicon glyphicon-eye-open"> Visibilité des colonnes</i>',
                        titleAttr: 'Columns Visiblty',


                    },
                ],
                ajax: {
                    url: '/OPMSAdmin/AdminUser/GetUserData',
                    type: 'Post',
                    dataType: 'json'
                },
                columns: [
                    { data: 'UserName' },
                    { data: 'Email' },
                    { data: 'PhoneNumber' },
                  
                    {
                        "data": "actions",
                        "className": "dt-body-right",
                        "render": function (data, type, row, meta) {
                            data = '<a class="btn btn-primary btn-bg" href="/OPMSAdmin/AdminUser/Edit/' + row.Id + '"><i class="glyphicon glyphicon-edit"></i> Éditer</a> | <a class="btn btn-danger btn-bg" href="/OPMSAdmin/AdminUser/Delete/' + row.Id + '"><i class="glyphicon glyphicon-trash"></i> Supprimer</a> |<a class="btn btn-default btn-bg" href="/OPMSAdmin/AdminUser/Details/' + row.Id + '"><i class="glyphicon glyphicon-info-sign"></i> Détails</a> ';
                           
                            return data;
                        }
                    },


                ]
            })
        });
    </script>
}


