
@{
    ViewBag.Title = "PostSystem";
}
<hr />
<h4>Sélectionnez le nom du résident pour envoyer le poste</h4>

<p>
    <a class="btn btn-primary" href="/OPMSAdmin/PostSystem/Create">Créer un nouveau message de poste</a> |
    <a class="btn btn-primary" href="/OPMSAdmin/MainPostSystem/PostData">Poste livré</a>
</p>
<hr />
<table id="dataTable" class="table table-bordered table-hover table-responsive table-striped">
    <thead class="bg-primary">
        <tr>
            <th><i class="glyphicon glyphicon-align-center"></i> Nom résident</th>
            <th><i class="glyphicon glyphicon-wrench"></i> Actions</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
               
                "info": true,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": "lfrtiBp",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "ajax": {
                    "url": "/OPMSAdmin/MainPostSystem/PostMainData",
                    "type": "Get",
                    "dataType": "json"
                },
                "columns": [
                    
                    {
                        "data": "UserName",
                        //"width": "50%",
                    },
                 
                    {
                        "data": "actions",
                        "className":"dt-body-right",
                        "render": function (data, type, row, meta) {
                            data = '<a class="btn btn-primary btn-bg" href="/OPMSAdmin/MainPostSystem/Edit/' + row.Id + '"><i class="glyphicon glyphicon-send"></i> Informer le résident du poste</a>';
                            //  data = '<a class="btn btn-info btn-sm" href="/Users/Edit/' + row.Id + '">Edit</a> | <button class="btn btn-danger btn-sm" onclick="return Delete(' + row.Id + ')">DeletePage</button>';
                            return data;
                        }
                    },


                ]
            })
        });
    </script>
}



