
@{
    ViewBag.Title = "PostSystem";
}

<div class="card card-cascade narrower blue lighten-5">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header  blue lighten-1 text-white">

        <!-- Title -->
        <h4 class="text-white">Select the resident's name to send the post</h4>
        <!-- Subtitle -->
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

        <!-- Text -->
        <div class="">

            <p>

                <a class="btn btn-rounded  btn-outline-primary" href="/OPMSAdmin/PostSystem/Create"><i class="fas fa-plus-circle pr-2 fa-1x" aria-hidden="true"></i> Create message box</a>
                <a class="btn btn-rounded  btn-outline-primary" href="/OPMSAdmin/MainPostSystem/PostData"><i class="fas fa-paper-plane  pr-2 fa-1x"></i> Delivared Post</a>
            </p>
            <hr />
            <table id="dataTable" class="table table-bordered table-hover table-striped ">
                <thead class=" blue lighten-1 white-text">
                    <tr class="pt-2">
                        <th><i class="fas fa-user"></i> Resident Name</th>
                        <th><i class="fas fa-wrench"></i> Actions</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>

@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}
@section scripts{
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({

                "info": false,
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "dom": "lfrtiBp",
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "ajax": {
                    "url": "/OPMSAdmin/MainPostSystem/PostMainData",
                    "type": "Get",
                    "dataType": "json"
                },
                "columns": [

                    {
                        "data": "UserName",
                        "className": "dt-body-center",
                        //"width": "50%",
                    },

                    {
                        "data": "actions",
                        "className": "dt-body-right",
                        "render": function (data, type, row, meta) {
                            data = '<a class="btn btn-primary btn-rounded btn-bg" href="/OPMSAdmin/MainPostSystem/Edit/' + row.Id + '"><i class="fas fa-paper-plane pr-2"></i>Inform the resident for the post</a>';
                            //  data = '<a class="btn btn-info btn-sm" href="/Users/Edit/' + row.Id + '">Edit</a> | <button class="btn btn-danger btn-sm" onclick="return Delete(' + row.Id + ')">DeletePage</button>';
                            return data;
                        }
                    },


                ]
            })
        });
    </script>
}



