
@{
    ViewBag.Title = "ThankYou";
}


@if (TempData["Message"] != null)
{

    <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view view-cascade gradient-card-header blue-gradient">

            <!-- Title -->
            <h4 class="card-header-title mb-3">You have successfully assigned a post to<button disabled class="btn btn-info btn-rounded">@TempData["Message"]</button></h4>
            <!-- Text -->
            

        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center  bg-transparent">
            <div class="row">
                <div class="col-md-6 ">
                    <img src="~/Content/Img/sentPost.svg" />
                    <!-- Link -->
                
                    
                </div>
                <div class="col-md-6  my-5">
                    <div class="card card-cascade narrower  blue lighten-5">

                        <!-- Card image -->
                        <div class="view view-cascade gradient-card-header blue-gradient">

                            <!-- Title -->
                            <h5 class="card-header-title">Sucess Message</h5>
                            <!-- Subtitle -->
                          
                        </div>

                        <!-- Card content -->
                        <div class="card-body-cascade text-center bg-transparent">

                            <!-- Text -->
                            <h3 class="card-text pt-3 mt-3 pb-2">
                                The resident @TempData["Message"] will receiv a notification
                            </h3>
                            <hr />

                            <div class="pb-3">
                                <a class="btn btn-primary btn-rounded waves-effecttext-capitalize" href="/OPMSAdmin/MainPostSystem/Index"><i class="fas fa-paper-plane pr-2"></i> Try another post</a>
                            </div>

                        </div>
                       

                    </div>
                    <!-- Card -->

                   
                </div>

            </div>

        </div>
        <!-- Card content -->

    </div>

  
}


@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />


}
@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });

            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
            Ps.initialize(el);
        });
    </script>
}

