
@{
    ViewBag.Title = "ThankYou";
}

    <hr />

    @if (TempData["Message"] != null)
    {
        <h4 class="">Le poste attribué avec succès au résident: @TempData["Message"]</h4>
    }
    <br />
    <a class="btn btn-primary" href="/OPMSAdmin/MainPostSystem/Index">Essayez un autre Poste</a>

