@model IEnumerable<OPMS.ViewModels.PageViewModel>

@{
    ViewBag.Title = "Home";
}

            <div class="card card-cascade narrower blue lighten-5">

                <!-- Card image -->
                <div class="view view-cascade gradient-card-header  blue lighten-1 text-white">

                    <!-- Title -->
                    <h4 class="text-white">Liste des pages</h4>
                    <!-- Subtitle -->
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">

                    <!-- Text -->
                    <div class="">

                        <p>

                            <a class="btn btn-primary align-left" href="/OPMSAdmin/Pages/Create">Créer une nouvelle page</a>
                        </p>
                        <hr />
                        <table id="dataTable" class="table table-hover ">
                            <thead class="blue white-text">
                                <tr class="pt-2">
                                    <th><i class="fas fa-hashtag"></i> Ttitle</th>
                                    <th><i class="fas fa-link"></i> Slug</th>
                                    <th><i class="fas fa-pager"></i> Sidebar</th>
                                    <th><i class="far fa-image"></i> Banner</th>
                                    <th><i class="fas fa-file-alt"></i> Content</th>
                                    <th><i class="fas fa-wrench"></i> Actions</th>
                                </tr>
                            </thead>
                        </table>
                    </div>

                </div>

            </div>


       
      

@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}
@section scripts{
  <script>
      $(document).ready(function () {
          $(".button-collapse").sideNav({
              breakpoint: 1200
          });
          
          var sideNavScrollbar = document.querySelector('.custom-scrollbar');
          var ps = new PerfectScrollbar(sideNavScrollbar);
          Ps.initialize(el);
      });
    </script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
                "info": true,
                "responsive": true,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "dom": "lfrtiBp",
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="glyphicon glyphicon-file"> Copy</i>',
                        titleAttr: 'Copy',


                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> Excel</i>',
                        titleAttr: 'Excel',


                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> PDF</i>',
                        titleAttr: 'PDF',


                    },

                    {
                        extend: 'print',
                        text: '<i class="glyphicon glyphicon-print"> Print</i>',
                        titleAttr: 'PRINT',


                    },
                    {
                        extend: 'colvis',
                        text: '<i class="glyphicon glyphicon-eye-open"> Visibilité des colonnes</i>',
                        titleAttr: 'Columns Visiblty',


                    },
                ],
                "ajax": {
                    "url": "/OPMSAdmin/Pages/GetPagesData",
                    "type": "Get",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "Slug" },
                    { "data": "Sidebars.Name" },
                    { "data": "HomeBanner.Title" },
                    { "data": "HomeContent.Title" },
                    {
                        "data": "actions",
                        "className": "dt-body-right",
                        "render": function (data, type, row, meta) {
                            data = '<a class="btn-floating  btn-default" href="/OPMSAdmin/Pages/Edit/' + row.Id + '"><i class="fas fa-edit"></i> Éditer</a> | <a class="btn-floating btn-danger" href="/OPMSAdmin/Pages/Delete/' + row.Id + '"><i class="fas fa-trash-alt"></i> Supprimer</a> | <a class="btn-floating btn-info" href="/OPMSAdmin/Pages/Details/' + row.Id + '"><i class="fas fa-info"></i> Détails</a>';
                            //  data = '<a class="btn btn-info btn-sm" href="/Users/Edit/' + row.Id + '">Edit</a> | <button class="btn btn-danger btn-sm" onclick="return Delete(' + row.Id + ')">DeletePage</button>';
                            return data;
                        }
                    },


                ]
            })
        });
    </script>

}

