@model OPMS.ViewModels.RoomViewModel

@{
    ViewBag.Title = "Delete";
}
<hr />
<h4>Voulez-vous vraiment supprimer le <button disabled class="btn btn-danger">@Model.RoomNumber</button> ?</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" href="/OPMSAdmin/Rooms/Index">Retour à la liste principale</a>
    </div>
    }
</div>
