
@{
    ViewBag.Title = "ThankYou";
    Layout = "~/Views/Shared/_ContactLayout.cshtml";
}
<br />
<hr />
@if (TempData["Message"] !=null)
{
    <h4>Thank You : @TempData["Message"] for contacting us</h4>
}

