
@{
    ViewBag.Title = "ContactDetails";
}
<hr />
<h4>Liste de la page de contact</h4>
<p>
    @*//<button class="btn btn-primary"><a href="/Pages/Create"></a>Create</button>*@
    <a class="btn btn-primary" href="/OPMSAdmin/ContactDetails/Create">Créer une nouvelle page de contact</a>
</p>
<hr />
<table id="dataTable" class="table table-bordered table-hover table-responsive table-striped">
    <thead class="bg-primary">
        <tr>
            <th><i class="glyphicon glyphicon-align-center"></i> Title</th>
            <th><i class="glyphicon glyphicon-link"></i> City</th>
            <th><i class="glyphicon glyphicon-menu-right"></i> Area</th>
            <th><i class="glyphicon glyphicon-menu-right"></i> Street</th>
            <th><i class="glyphicon glyphicon-menu-right"></i> Center Name</th>
            <th><i class="glyphicon glyphicon-menu-right"></i> Email</th>
            <th><i class="glyphicon glyphicon-wrench"></i> Actions</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
                "info": true,
               "responsive": true,
                "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                "dom": "lfrtiBp",
                buttons: [
                    {
                        extend: 'copyHtml5',
                        text: '<i class="glyphicon glyphicon-file"> Copy</i>',
                        titleAttr: 'Copy',


                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> Excel</i>',
                        titleAttr: 'Excel',


                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> PDF</i>',
                        titleAttr: 'PDF',


                    },

                    {
                        extend: 'print',
                        text: '<i class="glyphicon glyphicon-print"> Print</i>',
                        titleAttr: 'PRINT',


                    },
                    {
                        extend: 'colvis',
                        text: '<i class="glyphicon glyphicon-eye-open"> Visibilité des colonnes</i>',
                        titleAttr: 'Columns Visiblty',


                    },
                ],
                "ajax": {
                    "url": "/OPMSAdmin/ContactDetails/GetContactDetails",
                    "type": "Get",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "Title" },
                    { "data": "CityName" },
                    { "data": "AreaName" },
                    { "data": "StreetName" },
                    { "data": "CenterName" },
                    { "data": "CenterEmail" },
                    {
                        "data": "actions",
                        "className": "dt-body-right",
                        "render": function (data, type, row, meta) {
                            data = '<a class="btn btn-primary btn-bg" href="/OPMSAdmin/ContactDetails/Edit/' + row.Id + '"><i class="glyphicon glyphicon-edit"></i> Éditer</a> | <a class="btn btn-danger btn-bg" href="/OPMSAdmin/ContactDetails/Delete/' + row.Id + '"><i class="glyphicon glyphicon-trash"></i> Supprimer</a> <a class="btn btn-default btn-bg" href="/OPMSAdmin/ContactDetails/Details/' + row.Id + '"><i class="glyphicon glyphicon-info-sign"></i> Détails</a>';
                           
                            return data;
                        }
                    },


                ]
            })
        });
    </script>
}




