html,
body,
header {
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
   
}
.footerBack {
    background-image: url(Img/FooterBack.svg);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.btn-primary {
    color: #fff;
    background-color: #42a5f5 !important;
}
.btn-outline-primary {
    color: #fff;
    
}
.text-primary {
    color: #42a5f5 !important;
}
@media(min-width: 300px) and (max-width: 567px) {
    h2 {
        font-size: 1.2rem;
    }
}

@media(min-width: 567px) and (max-width: 767px) {
    h2 {
        font-size: 1.4rem;
    }
}

@media(min-width: 767px) and (max-width: 867px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media(min-width: 867px) and (max-width: 1000px) {
    h2 {
        font-size: 1.6rem;
    }
}
.text-body p {
    margin-top: 0;
    margin-bottom: 0rem;
}



@media(min-width: 300px) and (max-width: 567px) {
    h3 {
        font-size: 1rem;
    }
}

@media(min-width: 567px) and (max-width: 767px) {
    h3 {
        font-size: 1.3rem;
    }
}

@media(min-width: 767px) and (max-width: 867px) {
    h3 {
        font-size: 1.4rem;
    }
}

@media(min-width: 867px) and (max-width: 1000px) {
    h3 {
        font-size: 1.5rem;
    }
}



@media(min-width: 300px) and (max-width: 567px) {
    h1 {
        font-size: 1.3rem;
    }
}

@media(min-width: 567px) and (max-width: 767px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media(min-width: 767px) and (max-width: 867px) {
    h1 {
        font-size: 1.8rem;
    }
}

@media(min-width: 867px) and (max-width: 1000px) {
    h1 {
        font-size: 1.9rem;
    }
}



@media (max-width:740px) {
    #sidebar {
        background-image: url(Img/photo-of-eiffel-tower-with-lights-149637.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        width: auto;
        background-attachment: fixed;
    }
}

sectin .intro {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 740px) {
    html, body, header, .view {
        height: 100vh;
        width: 100%;
    }
}

.top-nav-collapse {
    background-color: #42a5f5 !important;
}

.navbar:not(.top-nav-collapse) {
    background: #42a5f5 !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #42a5f5 !important;
    }
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 100%;
        width: 100%;
    }
}

.BackCOLOR {
    background: -moz-linear-gradient(134deg, rgba(149,205,245,1) 0%, rgba(220,237,250,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(220,237,250,1)), color-stop(100%, rgba(149,205,245,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(134deg, rgba(149,205,245,1) 0%, rgba(220,237,250,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(134deg, rgba(149,205,245,1) 0%, rgba(220,237,250,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(134deg, rgba(149,205,245,1) 0%, rgba(220,237,250,1) 100%); /* ie10+ */
    background: linear-gradient(316deg, rgba(149,205,245,1) 0%, rgba(220,237,250,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DCEDFA', endColorstr='#95CDF5',GradientType=0 ); /* ie6-9 */
    background-size: 400% 400%;
    -webkit-animation: gradientBG 10s ease infinite;
    animation: gradientBG 10s ease infinite;
}

.BackCOLORSection {
    background: -moz-linear-gradient(316deg, rgba(69,171,255,0.9) 0%, rgba(255,152,25,0.7) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(69,171,255,0.9)), color-stop(100%, rgba(255,152,25,0.7))); /* safari4+,chrome */
    background: -webkit-linear-gradient(316deg, rgba(69,171,255,0.9) 0%, rgba(255,152,25,0.7) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(316deg, rgba(69,171,255,0.9) 0%, rgba(255,152,25,0.7) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(316deg, rgba(69,171,255,0.9) 0%, rgba(255,152,25,0.7) 100%); /* ie10+ */
    background: linear-gradient(134deg, rgba(69,171,255,0.9) 0%, rgba(255,152,25,0.7) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45ABFF', endColorstr='#FF9819',GradientType=1 ); /* ie6-9 */
    background-size: 400% 400%;
    -webkit-animation: gradientBG 7s ease infinite;
    animation: gradientBG 7s ease infinite;
}
@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar-brand img {
    height: 40px;
    margin: 5px;
    width: 150px;
}

#zoom {
    animation: move 5s infinite ease-in-out;
}

@keyframes move {
    0% {
        transform: scale(0.9,0.9);
    }

    50% {
        transform: scale(1,1);
    }

    100% {
        transform: scale(0.9,0.9);
    }
}
.cardcontainer img {
    animation: zoominoutsinglefeatured 1s infinite;
}


.navbar-brand img {
    height: 40px;
    margin: 5px;
    width: 150px;
}