html,
body,
header {
    padding-top: 15px;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}
.btn-primary {
    color: #fff;
    background-color: #42a5f5 !important;
}

.btn-outline-primary {
    color: #fff;
}

.text-primary {
    color: #42a5f5 !important;
}

@media(min-width: 300px) and (max-width: 567px) {
    h2 {
        font-size: 1.2rem;
    }
}

@media(min-width: 567px) and (max-width: 767px) {
    h2 {
        font-size: 1.4rem;
    }
}

@media(min-width: 767px) and (max-width: 867px) {
    h2 {
        font-size: 1.5rem;
    }
}

@media(min-width: 867px) and (max-width: 1000px) {
    h2 {
        font-size: 1.6rem;
    }
}

.text-body p {
    margin-top: 0;
    margin-bottom: 0rem;
}



@media(min-width: 300px) and (max-width: 567px) {
    h3 {
        font-size: 1rem;
    }
}

@media(min-width: 567px) and (max-width: 767px) {
    h3 {
        font-size: 1.3rem;
    }
}

@media(min-width: 767px) and (max-width: 867px) {
    h3 {
        font-size: 1.4rem;
    }
}

@media(min-width: 867px) and (max-width: 1000px) {
    h3 {
        font-size: 1.5rem;
    }
}



@media(min-width: 300px) and (max-width: 567px) {
    h1 {
        font-size: 1.3rem;
    }
}

@media(min-width: 567px) and (max-width: 767px) {
    h1 {
        font-size: 1.6rem;
    }
}

@media(min-width: 767px) and (max-width: 867px) {
    h1 {
        font-size: 1.8rem;
    }
}

@media(min-width: 867px) and (max-width: 1000px) {
    h1 {
        font-size: 1.9rem;
    }
}




@media(min-width: 300px) and (max-width: 567px) {
     .display-4 {
        font-size: 2rem !important;
    }
}

@media(min-width: 567px) and (max-width: 767px) {
    .display-4 {
        font-size: 2.2rem !important ;
    }
}

@media(min-width: 767px) and (max-width: 867px) {
    .display-4 {
        font-size: 2.5rem!important ;
    }
}

@media(min-width: 867px) and (max-width: 1000px) {
  .display-4 {
        font-size: 3rem !important;
    }
}

.map-container-section {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-container {
    overflow: hidden;
    position: relative;
    height: 0;
}

    .map-container iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .map-container-section iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
#sidebar {
    background-image: url(Img/photo-of-eiffel-tower-with-lights-149637.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    background-attachment: fixed;
}

@media (max-width:740px) {
    #sidebar {
        background-image: url('https://i.ibb.co/BLJbnng/eiffle.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        width: auto;
        background-attachment: fixed;
    }
}

sectin .intro {
    margin: 0px;
    padding: 0px;
}

@media (max-width: 740px) {
    html, body, header, .view {
        height: 100vh;
        width: 100%;
    }
}

.top-nav-collapse {
    background-color: #42a5f5 !important;
}

.navbar:not(.top-nav-collapse) {
    background: #42a5f5 !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #42a5f5 !important;
    }
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
        height: 100%;
        width: 100%;
    }
}

.BackCOLOR {
    background: -moz-linear-gradient(45deg, rgba(66,165,245,0.85) 0%, rgba(187,222,251,0.55) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(66,165,245,0.85)), color-stop(100%, rgba(187,222,251,0.55))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(66,165,245,0.85) 0%, rgba(187,222,251,0.55) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(66,165,245,0.85) 0%, rgba(187,222,251,0.55) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(66,165,245,0.85) 0%, rgba(187,222,251,0.55) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(66,165,245,0.85) 0%, rgba(187,222,251,0.55) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbdefb', endColorstr='#42a5f5',GradientType=1 ); /* ie6-9 */
    background-size: 400% 400%;
    -webkit-animation: gradientBG 6s ease infinite;
    animation: gradientBG 10s ease infinite;
}

.navbar-brand img {
    height: 40px;
    margin: 5px;
    width: 150px;
}

#zoom {
    animation: move 7s infinite ease-in-out;
}

@keyframes move {
    0% {
        transform: scale(0.9,0.9);
    }

    50% {
        transform: scale(1.1,1.1);
    }

    100% {
        transform: scale(0.9,0.9);
    }
}

.cardcontainer img {
    animation: zoominoutsinglefeatured 1s infinite;
}


.navbar-brand img {
    height: 40px;
    margin: 5px;
    width: 150px;
}
@-webkit-keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

input[type=text], input[type=email], input[type=number] {
    box-shadow: 0 1px 0 0 #42a5f5 !important;
    border-bottom: 1px 1px 1px 1px solid #42a5f5 !important;
}
    input[type=number]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
        box-shadow: 0 1px 0 0 #42a5f5 !important;
        border-bottom: 1px 1px 1px 1px solid #42a5f5 !important;
    }