
.jumbotron {
    color: #428bca;
    margin: 30px;
    padding-top: 50px;
}

.jumbotron .img-responsive {
        display: inline;
        height: 200px;
        width: 200px;
 }

img#Login {
    height: 400px;
    width: auto;
    display:inline;
}