body {
    background-color: #f9f9f9;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.homeBanner .thumbnail  {
    background-color: #e0f2f1;
    padding:0px;
    margin:0px;
    
}
.thumbnail img {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}
