
@{
    ViewBag.Title = "Support";

}
<div class="card card-cascade narrower blue lighten-5">

    <!-- Card image -->
    <div class="view view-cascade gradient-card-header  blue lighten-1 text-white">

        <!-- Title -->
        <h4 class="text-white">Help and support</h4>
        <!-- Subtitle -->
    </div>


    <div class="card-body card-body-cascade text-center">

        <!-- Text -->
        <div class="">
          
            <hr />
            <table id="dataTable" class="table table-bordered table-hover table-striped table-responsive-sm ">
                <thead class=" blue lighten-1 white-text">
                    <tr class="pt-2">
                        <th><i class="fas fa-hashtag"></i> Title</th>
                        <th><i class="far fa-building"></i> Company</th>
                        <th><i class="fas fa-laptop-code"></i> Developers</th>
                        <th><i class="fas fa-pencil-alt"></i> Designed By</th>
                        <th><i class="far fa-calendar-alt"></i> Created Date</th>
                        <th><i class="fas fa-wrench"></i> Actions</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>

@section AdminCustomCSS{

    <link href="~/Content/AdminCustomCSS.css" rel="stylesheet" />

}
@section scripts{
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav({
                breakpoint: 1200
            });
            // SideNav Scrollbar Initialization
            var sideNavScrollbar = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(sideNavScrollbar);
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
                "info": false,
                "responsive": true,
                "lengthMenu": [[2, 10, 25, 50, -1], [2, 10, 25, 50, "All"]],
                "dom": "lfrtiBp",
                buttons: [

                    {
                        extend: 'copyHtml5',
                        text: '<i class="glyphicon glyphicon-file"> Copy</i>',
                        titleAttr: 'Copy',


                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> Excel</i>',
                        titleAttr: 'Excel',


                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="glyphicon glyphicon-save-file"> PDF</i>',
                        titleAttr: 'PDF',


                    },

                    {
                        extend: 'print',
                        text: '<i class="glyphicon glyphicon-print"> Print</i>',
                        titleAttr: 'PRINT',


                    },
                    {
                        extend: 'colvis',
                        text: '<i class="glyphicon glyphicon-eye-open"> Visibilité des colonnes</i>',
                        titleAttr: 'Columns Visiblty',


                    },
                    //'csv', 'excel', 'pdf', 'print', 'colvis'
                ],
                "ajax": {
                    "url": "/OPMSAdmin/HelpSupport/GetSupport",
                    "type": "Get",
                    "dataType": "json",

                },
                "columnDefs": [
                    {
                        "data": "Title",
                        "targets": 0,

                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        "data": "CompanyName",
                        "targets": 1,
                        "width": "10%",
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                    {
                        "data": "DeveloperName",
                        "targets": 2,
                        "render": function (data, type, row, meta) {
                            return data;
                        }
                    },
                  
                    {
                        "data": "DesignedBy",
                        "targets": 3,

                        "render": function (data, type, row, meta) {
                            return data;

                        }


                    },
                    {
                        "data": "CreatedDate",
                        "targets": 4,

                        "render": function (data, type, row, meta) {
                            return moment(row.CreatedDate).locale("fr").format('LLL');
                        },


                    },

                    {
                        "data": "actions",
                        "targets": 5,
                        "render": function (data, type, row, meta) {
                            data = '<a class="btn-floating  btn-default" href="/OPMSAdmin/HelpSupport/Edit/' + row.Id + '"><i class="fas fa-edit"></i> Supprimer </a> | <a class="btn-floating btn-info" href="/OPMSAdmin/HelpSupport/Details/' + row.Id + '"><i class="fas fa-info"></i></a>';
                            return data;
                        }
                    },


                ],

            })
        });
    </script>
}



