
@{
    ViewBag.Title = "Index";
}
<br />
<h4>Welcome to the Sidebar Creation Page</h4>
<br />
<p>
    <button class="btn btn-default"> @Html.ActionLink("Create New Sidebar", "Create")</button>
  
</p>
<hr />
<table id="dataTable" class="table table-bordered table-hover table-responsive table-striped">
    <thead class="bg-primary">
        <tr>
            <th><i class="glyphicon glyphicon-align-left"></i>Name</th>

            <th><i class="glyphicon glyphicon-wrench"></i> Actions</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
               info: false,
                lengthMenu: [[1, 5, 10, 25, 50, -1], [1, 5, 10, 25, 50, 'All']],
                dom: 'lfrtiBp',
                buttons: [
                    'print'
                ],
                ajax: {
                    url: '/OPMSAdmin/Sidebars/GetSidebarData',
                    type: 'Get',
                    dataType: 'json'
                    },
                columns: [
                   
                    { data: 'Name' },
                  
                    {
                        data: 'actions',
                        render: function (data, type, row, meta) {
                            data = '<a class="btn btn-primary btn-bg" href="/OPMSAdmin/Sidebars/Edit/' + row.Id + '"><i class="glyphicon glyphicon-edit"></i> Edit</a> | <a class="btn btn-danger btn-bg" href="/OPMSAdmin/Sidebars/Delete/' + row.Id + '"><i class="glyphicon glyphicon-trash"></i> Delete</a>';
                            //  data = '<a class="btn btn-info btn-sm" href="/Users/Edit/' + row.Id + '">Edit</a> | <button class="btn btn-danger btn-sm" onclick="return Delete(' + row.Id + ')">DeletePage</button>';
                            return data;
                        }
                    },
                ],
            })
        });
    </script>
}