
@{
    ViewBag.Title = "ThankYou";
}
<br />
<br />
<hr />
@if (TempData["Message"] != null)
{
    <h4 class="">Le message a bien été envoyé à : @TempData["Message"]</h4>
}
    <a class="btn btn-primary" href="/OPMSAdmin/Messages/Index">Essayez un autre message</a>

