
@if (Request.IsAuthenticated)
{
    if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("LogOut", "Accounts", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:document.getElementById('logoutForm').submit();"> Bonjour  @User.Identity.Name | <span class="btn btn-danger"> LogOut</span> </a></li>
            </ul>
           
        }
    }
}
else
{
            <ul class="nav navbar-nav navbar-right">

                <li><a href="/Authorization"><span class="btn btn-primary"> LogIn </span></a></li>
            </ul>
          
}