@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
}
<br />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <div class="jumbotron">
            <h4>Oops! Something went wrong</h4>
            <hr />
            <img src="~/Content/Img/undraw_server_down_s4lk.svg" class="img-responsive" id="Login" />
            <hr />
            <a href="/Home" class="btn btn-primary">Take me back</a>
        </div>
    </div>
</body>
</html>
@section CustomCss{

    <link href="~/Content/CustomPostCSS.css" rel="stylesheet" />

}